<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--A good way to switch the content of the application is to use the appsettings. three small exmaple on how to use it:-->
  <appSettings>
    <add key="MailUsedToSend" value="xxx"/> <!--Set in the mail-address you want to use to send mail-->
    <add key="MailPassword" value="xxx"/><!--Password for the mail-address-->
    <add key ="MailSentFrom" value="xxx"/><!--Inform the reciver where the mail comes from-->
  </appSettings>
</configuration>